.App {
  margin-top: 25px;
  background: #E5E5E5;
}



.Small-Box {
  text-align: center;
  height: 138px ;
  width: 390px;
  top: 112px;
  background-color: #E5E5E5;
  border-radius: 25px;
  margin-top: 100px;
}

.SmallBoxOutline {
  display: flex;
  justify-content: left;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

.column-left{ float: left; width: 33.333%; }
.column-center{ display: inline-block; width: 33.333%; }
.column-right{ float: right; width: 33.333%; }

