.App {
  margin-top: 25px;
  background: #E5E5E5;
}

.Resource-Overall {
  align-items: center;
  align-items: center;
  text-align: center;
}

.Big-Box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 227px ;
  width: 1275px;
  left: 81px;
  top: 112px;
  background-color: white;
  border-radius: 25px;
  margin-top: 100px;
  margin: 0 auto;
}

.Small-Box {
  text-align: center;
  height: 138px ;
  width: 390px;
  top: 112px;
  background-color: white;
  border-radius: 25px;
  margin-top: 100px;
}

.SmallBoxOutline {
  display: flex;
  justify-content: left;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

